{% extends 'base.html' %}

{% block title %}Model{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-4xl font-bold mb-4">Model</h1>
  <h1>Address Form</h1>
  <form method="POST" id="addressForm">
      {{ form.hidden_tag() }}
      {{ form.address.label }} {{ form.address(id='address', size=50, autocomplete='on') }}
      <input type="hidden" id="latitude" name="latitude">
      <input type="hidden" id="longitude" name="longitude">
      <input id= "btn" type="submit" value="Submit">
  </form>
  <div>
    Latitude: <span id="latitude-display">{{coordinates[0]}}</span><br>
    Longitude: <span id="longitude-display">{{coordinates[1]}}</span>
  </div>
{% endblock %}